# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.egg-info/
dist/
build/

# Java
*.class
*.jar
*.war
*.ear
/build/
out/

# Visual Studio
.vscode/
*.sln
*.user
*.suo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IDE Specific
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Other
*.bak
*.tmp
*.orig
*.cache
*.coverage
*.pytest_cache/
*.coverage.*
*.egg
.env.local
.env.development.local
.env.test.local
.env.production.local